#form{
    background-color: #a0d2cc;
    border: 6px solid #006a71;
    border-radius: 19px;
    padding: 2%;
    width: 36%;
    position: relative;
    left: 33%;
    margin-top: 7%;
    margin-bottom: 7%;
}
h1{
    margin-left: 31%;
}
#form input{
    margin-left: 10%;
}
#form select{
    margin-left: 31%;
}
.dadosCompra{
    margin-left: 25%;
}
.dadosCompra button{
    margin-left: 14%;
    padding: 2%;
    border-radius: 20px;
    background-color: #06bfdd;
    border: 3px solid #006863;
    cursor: pointer;
}
.dadosCompra button:hover{
    background-color: #006863;
}