.productData{
    font-size: 110%;
    float: right;
    margin-right: 14%;
    margin-top: 7%;
}
.productPreco{
    color: red;
    font-size: 134%;
}
.productImg{
    width: 20%;
    margin-top: 1%;
    margin-left: 16%;
}
.productData input {
    width: 8%;
}
.buttonQtd{
    border-radius: 25px;
    padding: 1%;
    background-color: #006a71;
    color: white;
    border: 5px solid transparent;
    cursor: pointer;
}
.btnCompra{
    border-radius: 25px;
    padding: 0.25%;
    margin-bottom: 1%;
    background-color: #ee2424;
    color: white;
    border: 5px solid transparent;
    cursor: pointer;
    margin-left: 6%;
}
.descricao{
    background-color: #c1c6c6;
border-radius: 25px 25px 0 0;
padding: 10px;
}